*{
    margin: 0;
    padding: 0;
}
header{
    background-color: black;
}

#skill{
    list-style: none;
    padding: 0;
}

.experience{
    list-style: none;
    padding: 0;
}

#me{
    border-radius: 50%;
}
